@use "../helpers/" as *;

.map-modal-content {
  display: flex;
  gap: rem(24);

  @include small {
    flex-direction: column;
  }

  &__icon {
    flex: 0 0 rem(52);
    height: rem(52);
  }

  &__body {
  }

  &__header {
    margin-bottom: rem(16);
  }

  &__heading {
  }

  &__title {
    color: #434343;
    font-size: fluid(24, 32);
    font-weight: 600;
    line-height: 1;
    margin-bottom: rem(8);
  }

  &__subtitle {
    color: #3883d0;
    font-size: fluid(18, 20);
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(24);

    @include x-small {
      grid-template-columns: 1fr;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: rem(4);
    a {
      transition: color 0.3s ease;

      @include hover {
        color: #52c055;
      }
    }

    &-title {
      color: #707070;
      font-size: fluid(16, 18);
      line-height: 1.5;
    }

    &-text {
      color: #434343;
      font-size: fluid(18, 20);
      font-weight: 600;
      line-height: 1.5;
    }
  }

  &__button {
    color: #52c055;
    font-size: fluid(18, 20);
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    column-gap: rem(8);

    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2228%22%20viewBox%3D%220%200%2030%2028%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1%2013a1%201%200%201%200%200%202zm28.707%201.707a1%201%200%200%200%200-1.414l-6.364-6.364a1%201%200%201%200-1.414%201.414L27.586%2014l-5.657%205.657a1%201%200%200%200%201.414%201.414zM1%2014v1h28v-2H1z%22%20fill%3D%22%2352c055%22%2F%3E%3C%2Fsvg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      flex: 0 0 rem(28);
      height: rem(28);
    }
  }
}
