@use "../helpers/" as *;

.map {
  background-color: var(--primary);
  padding-block: fluid(40, 70) fluid(80, 164);
  overflow: hidden;
  position: relative;
  font-family: "Poppins", sans-serif;

  &__inner {
    max-width: rem(1920);
    margin-inline: auto;
  }

  &__container {
    max-width: rem(1522);
    margin-inline: auto;
    padding-inline: rem(20);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: rem(24);
    margin-bottom: rem(50);
    max-width: rem(1200);
    margin-left: auto;

    @include small {
      flex-direction: column;
    }

    &-content {
      flex: 0 1 rem(626);
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 2;

      @include medium {
        flex: 0 1 50%;
      }
      @include small {
        flex: 0 1 auto;
      }
    }

    &-title {
      color: #fff;
      font-size: fluid(36, 45);
      font-weight: 700;
      line-height: 1.1;
      text-transform: uppercase;
      margin-bottom: rem(13);
    }

    &-text {
      color: #fff;
      font-size: rem(17);
      line-height: 1.6;
      margin-bottom: rem(22);
    }

    &-button {
      color: #fff;
      text-align: center;
      font-size: rem(19);
      font-weight: 700;
      line-height: 1.28;
      text-transform: uppercase;
      width: 100%;
      max-width: max-content;
      background-color: var(--accent);
      padding: rem(16) rem(63);
      border-radius: 30px;
      transition: all 0.3s ease;
      border: 1px solid transparent;

      @include hover {
        background-color: #fff;
        color: var(--accent);
        border-color: var(--accent);
      }

      @include x-small {
        max-width: 100%;
      }
    }

    &-info {
      flex: 0 1 rem(486);
      background-color: #fff;
      padding: rem(28) rem(106) rem(44) rem(50);
      border-radius: 20px;
      position: relative;

      @include medium {
        padding: rem(32) rem(100) rem(32) rem(32);
        flex: 0 1 50%;
      }

      @include small {
        flex: 0 1 auto;
      }

      @media (max-width: rem(500)) {
         padding: rem(20) rem(60) rem(20) rem(20);
      }

      &::after {
        content: "";
        position: absolute;
        width: fluid(100, 150, 992, 375);
        height: fluid(100, 150, 992, 375);
        border-radius: 50%;
        background-color: var(--primary);
        right: 0;
        top: 0;
        transform: translate(35%, -40%);
        pointer-events: none;
      }

      &-text {
        color: var(--primary);
        font-size: fluid(18, 23);
        line-height: 1.3;

        strong {
          color: var(--primary-light);
        }
      }
      &-icon {
        width: fluid(34, 44, 992, 375);
        height: fluid(38, 48, 992, 375);
        position: absolute;
        top: fluid(4, 15, 992, 375);
        right: fluid(10, 20, 992, 375);
        z-index: 2;
      }
    }
  }

  &__body {
    display: flex;
    align-items: flex-end;
    gap: rem(24) fluid(40, 92);

    @include medium {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }

  &__main {
    flex-grow: 1;
    position: relative;

    @include medium {
      flex-grow: 0;
    }
  }

  &__aside {
    flex: 0 0 rem(342);
    padding-bottom: rem(35);

    @include medium {
      flex: 0 1 auto;
      padding-bottom: 0;
    }

    &-title {
      color: #fff;
      font-size: fluid(28, 35);
      line-height: 1.57;
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    &-list {
      display: grid;
      grid-template-columns: 1fr;
      gap: rem(8) rem(24);

      @include medium {
        grid-template-columns: repeat(2, 1fr);
      }

      @include x-small {
        grid-template-columns: 1fr;
      }
    }

    &-button {
      color: #fff;
      font-size: rem(18);
      font-weight: 600;
      line-height: 1.44;
      display: flex;
      align-items: center;
      column-gap: 1rem;
      transition: color 0.3s ease;

      @include hover {
        color: var(--accent);
      }

      &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%226%22%20fill%3D%22%2352c055%22%2F%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%229.5%22%20stroke%3D%22%2352c055%22%2F%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%227.833%22%20stroke%3D%22%2352c055%22%2F%3E%3C%2Fsvg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        flex: 0 0 rem(20);
        height: rem(20);
      }
    }
  }

  svg path {
    transition: all 0.3s ease;
    @include hover {
      fill: rgba(255, 255, 255, 0.5) !important;
      stroke: #fff !important;
    }

    &.area-highlighted {
      @include hover {
        fill: var(--accent-hover) !important;
        stroke: #fff !important;
      }
    }
  }
}
