@use "../helpers/" as *;

.map {
  background-color: var(--primary);
  padding-block: fluid(40, 70) fluid(80, 164);
  overflow: hidden;
  position: relative;
  max-width: rem(1920);
  margin-inline: auto;
  font-family: "Poppins", sans-serif;

  &__container {
    max-width: rem(1522);
    margin-inline: auto;
    padding-inline: rem(20);
    display: flex;
    align-items: flex-end;
    gap: fluid(40, 92);
  }

  &__main {
    flex-grow: 1;
  }

  &__aside {
    flex: 0 0 rem(342);
    padding-bottom: rem(35);

    &-title {
      color: #fff;
      font-size: fluid(28, 35);
      line-height: 1.57;
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: rem(8);
    }

    &-button {
      color: #fff;
      font-size: rem(18);
      font-weight: 600;
      line-height: 1.44;
      display: flex;
      align-items: center;
      column-gap: 1rem;
      transition: color 0.3s ease;

      @include hover {
        color: var(--accent);
      }

      &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%226%22%20fill%3D%22%2352c055%22%2F%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%229.5%22%20stroke%3D%22%2352c055%22%2F%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%227.833%22%20stroke%3D%22%2352c055%22%2F%3E%3C%2Fsvg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        flex: 0 0 rem(20);
        height: rem(20);
      }
    }
  }
}
