@use "../helpers/" as *;

.map-marker {
  --size: #{rem(45)};
  --size-hover: #{rem(48)};
  --size-mobile: #{rem(60)};

  width: auto;
  height: var(--size);
  cursor: pointer;
  transition: all 0.3s ease;

  @include hover {
    height: var(--size-hover);
  }

  @include small {
    height: var(--size-mobile);
  }
}
