@use "../helpers/" as *;

.map-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  backdrop-filter: blur(4px);
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
  padding: rem(50) 0;
  font-family: "Poppins", sans-serif;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    .map-modal__inner {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(16);
  }

  &__outer {
    position: relative;
  }
  &__inner {
    width: 100%;
    max-width: rem(686);
    max-height: 85vh;
    max-height: 85dvh;
    overflow: auto;
    display: inline-block;
    border-radius: rem(20);
    opacity: 0;
    transition: all 0.3s ease;
    position: relative;
  }
  &__content {
    padding: rem(40);
    background-color: #fff;
    border-radius: rem(13);
  }
  &__title {
    font-size: rem(20);
    color: #626262;
    margin-bottom: rem(12);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }
  &__close {
    position: absolute;
    right: 0;
    top: rem(-50);
    color: #52c055;
    transition: all 0.3s ease;

    @include hover {
      opacity: 0.7;
    }
    svg {
      pointer-events: none;
      width: rem(45);
      height: rem(45);
    }
  }
}
