<div id="map-modal" aria-hidden="true" class="map-modal" role="dialog" aria-labelledby="map-modal-title">
  <div tabindex="-1" data-micromodal-close class="map-modal__body">
    <div class="map-modal__outer">
      <button class="map-modal__close" type="button" data-micromodal-close aria-label="Close Modal">
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          data-nosnippet
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
      <div class="map-modal__inner">
        <div class="map-modal__content">
          <h2 class="sr-only" id="map-modal-title">Location Details</h2>
          <div class="map-modal__slot" data-modal-slot></div>
        </div>
      </div>
    </div>
  </div>
</div>
